@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.brand-name{
    font-weight: 700;
    font-size: 3rem;
}
.hader{
    
    background-color:rgb(255,144,14,0.1);
    
}
.navbar{
    padding: 40px 130px 0 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.list-item{
    list-style: none;
    display: flex;
    gap: 20px;

    
}
.anchor{
    text-decoration: none;
    font-weight: 500;
    color: #424242;
}

/* banner */
.banner-container{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.title{
    font-size: 4rem;
    font-weight: 700;
}
.banner{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}
.banner-image{
    width: 100%;
    max-width: 1440px;
    /* margin: 0 auto; */
    justify-content: center;

    
}
.banner-description{
    color: #727272;
    font-size: 16px;
}

.primary-btn{
    cursor: pointer;
    color: white;
    background-color: #FF900E;
    border-radius: 8PX;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
}

/* team and feature */
.team-container{
    display: flex;
    align-items: center;
    margin: 85px 181px 130px 180px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features{
    margin-left: 73px; 
    max-width: 530px;
    
}
.feature-title{
    font-size: 2.81rem;
    font-weight: 700;
}
#part-1{
    color:#727272 ;
    font-weight: 500;
}
#part-3{
    color: #FF900E;
}




@media screen and (max-width:576px) {
    .brand-name{
        text-align:center ;
    }
    .navbar{
        flex-direction: column;
        max-width: 100%;
    }
}